label {
  margin-right: 10px;
  margin-top: 5px
}

button {
  margin-right: 0.25em
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
